<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Image gallery app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
</head>

<body>

  <div class="container gallery-container">

    <h1>{{ messageCreate }} {{image.name}}</h1>

    <div class="tz-gallery">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="lightbox" >
            <img [src]="transformImage(image.imageBase64)" alt="{{ image.name}}">
          </div>
        </div>
      </div>
      <div class="file-drop-area">
        <span class="fake-btn">Choose file</span>
        <span class="file-msg">{{file ? file.name : 'or drag and drop file here' }}</span>
        <input class="file-input" type="file">
      </div>
      <br>
      <form [formGroup]="angForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text"  name="name" placeholder="Enter Name" formControlName="name" #name class="form-control" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">The name of the image.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <input type="text"  name="description" placeholder="Enter description" formControlName="description" #description class="form-control" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Write a description for the image</small>
        </div>
        <br />
        <input type="submit" class="btn btn-success btn-block" value="{{ messageCreate }}"
          (click)="saveImage(name.value, description.value)">
          <input *ngIf="messageCreate != 'Create Image' ? true: false" type="button" class="btn btn-danger btn-block" value="Delete Image"
          (click)="deleteImage()">
          <a class="btn btn-primary btn-block" routerLink="../">
            Go Back
          </a>
      </form>

      <!-- <app-progress [progress]="progress"></app-progress> -->

    </div>

  </div>


</body>

</html>