<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <p>
    <a routerLink="/image">Go to Images</a>
  </p> -->
  <router-outlet></router-outlet>
<!-- </div> -->
