<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Image gallery app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
</head>

<body>

  <div class="container gallery-container">

    <h1>Image gallery app</h1>

    <div class="tz-gallery">

      <div class="row">
        <p class="p-5"><a class="btn btn-default btn-block" routerLink="./new-image">
          New Image
        </a></p>
        <div class="col-sm-6 col-md-4" *ngFor="let a of images">
          <a class="lightbox" routerLink="./{{a._id}}">
            <img [src]="transformImage(a.imageBase64)" alt="{{ a.name}}">
          </a>
        </div>
      </div>

    </div>

  </div>


</body>

</html>